<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Destinations</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include("partials/header", { headerClass: "hero", activePage:
    "Destination", showTitle: true, pageTitle: "Discover Your Next Destination"
    }) %>
    <div class="hero-content">
      <h1>Top <span>Destinations</span></h1>
      <p>Discover the most popular travel destinations around the globe.</p>
    </div>

    <section class="categories">
      <div class="category">
        <a href="/book">
          <img src="/images/beach.png" class="round" alt="Beach" />
          <h3>Beach</h3></a
        >
        <a href="/beach/beach" class="btn">View Details</a>
      </div>
      <div class="category">
        <a href="/book">
          <img src="/images/city.png" class="round" alt="City" />
          <h3>City</h3></a
        >
        <a href="/city/city" class="btn">View Details</a>
      </div>
      <div class="category">
        <a href="/book">
          <img src="/images/mountain.png" class="round" alt="Mountain" />
          <h3>Mountain</h3></a
        >
        <a href="/mountain/mountain" class="btn">View Details</a>
      </div>
    </section>
  </body>
</html>
