<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Agency</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="hero-content">
      <div class="bursaspor">
        <h1>Explore Bursa <span>with Us</span></h1>
      </div>
      <p>
        Experience unforgettable stays in Bursa — where history and nature come
        together in perfect harmony
      </p>
    </div>
  </body>
</html>
