<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AVM</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include("../partials/header", { headerClass:"alps", activePage:"avm",
    showTitle:true }) %>

    <div class="pictures">
      <img src="/images/city/avm/arena.jpg" alt="Arena" />
      <img src="/images/city/avm/inegöl.jpg" alt="İnegöl" />
      <img src="/images/city/avm/meridyen.jpg" alt="Meridyen" />
      <img src="/images/city/avm/ozdilek_park.jpg" alt="Özdilek Park" />
      <img src="/images/city/avm/podyum_park.jpg" alt="Podyum Park" />
      <img src="/images/city/avm/suryapı.jpg" alt="Suryapı" />
      <img src="/images/city/avm/zafer_plaza.jpg" alt="Zafer Plaza" />
    </div>
  </body>
</html>
