<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>City</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include("../partials/header", { headerClass:"alps", activePage:"City",
    showTitle:true }) %>
    <div class="places">
      <a href="/city/avm" class="btn">AVM</a>
      <a href="" class="btn">Dini Yerler</a>
      <a href="/city/doga" class="btn">Doğa</a>
      <a href="/city/muze" class="btn" style="margin-left: 10px">Müzeler</a>
      <a href="/city/parklar" class="btn">Parklar</a>
      <a href="/city/selaleler" class="btn">Şelaleler</a>
      <a href="/city/tarih" class="btn">Tarihi Yerler</a>
      <a href="/city/mimari" class="btn">Mimari</a>
      <a href="/city/din" class="btn">Dini Yerler</a>
    </div>
  </body>
</html>
