<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doğa</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include("../partials/header", { headerClass:"alps", activePage:"doğa",
    showTitle:true }) %>

    <div class="pictures">
      <img src="/images/city/doğa/kocacay.jpg" alt="Kocaçay" />
      <img src="/images/city/doğa/kocayayla.jpg" alt="Kocayayla" />
      <img
        src="/images/city/doğa/sadagi_tabitat_parki.jpg"
        alt="Sadağı Tabiat Parkı"
      />
    </div>
  </body>
</html>
