<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Müzeler</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include("../partials/header", { headerClass:"alps", activePage:"muze",
    showTitle:true }) %>

    <div class="pictures">
      <img src="/images/city/müze/bursa_arkeoloji.jpg" alt="Bursa Arkeoloji" />
      <img src="/images/city/müze/bıçak.jpg" alt="Bıçak" />
      <img src="/images/city/müze/cumalıkızık.jpg" alt="Cumalıkızık" />
      <img src="/images/city/müze/hünkar_köşkü.jpg" alt="Hünkar Köşkü" />
      <img src="/images/city/müze/ördekli.jpg" alt="Ördekli" />
      <img
        src="/images/city/müze/panorama_1326_fetih.jpg"
        alt="Panorama 1326 Fetih"
      />
    </div>
  </body>
</html>
