<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beach</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include("../partials/header", { headerClass:"alps", activePage:"Beach",
    showTitle:true }) %>
    <div class="beaches">
      <a href="/beach/gemlik" class="btn">Gemlik</a>
      <a href="/beach/iznik" class="btn">İznik</a>
      <a href="/beach/karacabey" class="btn">Karacabey</a
      ><a href="/beach/mudanya" class="btn" style="margin-left: 10px"
        >Mudanya</a
      >
    </div>
  </body>
</html>
