<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gemlik</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/gemlik.css" />
  </head>
  <body>
    <%- include("../partials/header", { headerClass:"alps", activePage:"gemlik",
    showTitle:true }) %>
    <div class="pictures">
      <div class="büyükkumla">
        <img
          src="/images/beaches/gemlik/büyükkumla.jpg"
          class="oval"
          alt="Büyük Kumla"
        />
        <div class="text">
          <p>
            Gemlik ilçe merkezine 10 kilometre, Bursa’ya ise 45 kilometre
            mesafede bulunuyor Büyükkumla Halk Plajı. Güzel bir sahile ve
            iskeleye sahip olan plaj günübirlik tatilciler tarafından tercih
            ediliyor. Doğal güzelliğini korumuş olan bu plaj sakin bir tatil
            yapmak isteyenler için uygun fakat hafta sonu kalabalık olabiliyor.
            Giriş ve Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12139.76874451945!2d29.074331945463566!3d40.47654401523506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca5dd6cd13476f%3A0x6d3ba97a9a1a7746!2zQsO8ecO8a2t1bWxhIFBsYWrEsQ!5e0!3m2!1str!2str!4v1750256253920!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="gemsaz">
        <img src="/images/beaches/gemlik/gemsaz.jpg" alt="Gemsaz" />
        <div class="text">
          <p>
            Gemlik’e 8.5 kilometre, Bursa’ya ise 32 kilometre uzaklıktaki Gemsaz
            Halk Plajı, kumla karışık çakıldan oluşuyor. Plaj, 60 metre uzunluğa
            ve 15 metre genişliğe sahip. Deniz erken saatlerde daha sakin
            oluyor. Plajda herhangi bir tesis olmadığı için ihtiyaç duyacağınız
            eşyaları yanınızda götürmenizi tavsiye ederim. Plajda maalesef duş,
            tuvalet, soyunma kabini ve otopark gibi imkanlar bulunmuyor. Giriş
            ve Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li>
              <b>Plajda şezlong ve şemsiye kiralama imkanı bulunmuyor.</b>
            </li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12150.469349249359!2d29.088938645405424!3d40.41732722977383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca5cdc17040825%3A0x1d2037e7dd2d7d29!2sGemsaz%20Plaj%C4%B1!5e0!3m2!1str!2str!4v1750256293831!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="karacaali">
        <img
          src="/images/beaches/gemlik/Karacaali_Gençlik_Kampı.jpg"
          alt="Karacali Gençlik Kampı"
        />
        <div class="text">
          <p>
            Gemlik ilçe merkezine 14 kilometre, Bursa’ya yaklaşık 50 kilometre
            mesafede yer alan Karacaali Gençlik Kampı, Gemlik-Narlı Yolu
            üzerinde bulunuyor. İnce kumdan oluşan sahili ve temiz deniziyle
            ilgi çeken plajda deniz tabanı da kumlu bir yapıya sahip. 2018
            yılında hizmete açılan kamp öğrencilerin eğitimine katkı sağlıyor.
            Giriş ve Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li>
              <b>Plajda şezlong ve şemsiye kiralama imkanı bulunmuyor.</b>
            </li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6069.739848446085!2d29.048051377709957!3d40.47814260000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca5d251ac10ded%3A0x6c2be7b382a15828!2zQnVyc2EgQsO8ecO8a8WfZWhpciBCZWxlZGl5ZXNpIEthcmFjYWFsaSBHZW7Dp2xpayBLYW1wxLE!5e0!3m2!1str!2str!4v1750256327793!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="kumsaz">
        <img src="/images/beaches/gemlik/kumsaz.jpg" alt="Kumsaz" />
        <div class="text">
          <p>
            Gemlik’in en güzel plajlarından Kumsaz Plajı, ilçe merkezine 12
            kilometre, Bursa’ya ise 40 kilometre uzaklıkta bulunuyor. 300 metre
            uzunluğunda ve 50 metre genişliğindeki plajda duş, tuvalet, soyunma
            kabini, otopark ve voleybol sahası bulunuyor. Hem sahili hem de
            deniz tabanı ince kumdan oluşuyor. Denizi temiz ve sığ olduğu için
            acemi yüzücüler ve çocuklu aileler tarafından tercih ediliyor. Giriş
            ve Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li>
              <b>Plajda şezlong ve şemsiye kiralama imkanı bulunmuyor.</b>
            </li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12156.235029898084!2d29.059918745373782!3d40.385390337608314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca42ecc428058f%3A0xbd98adc9d162f834!2sKumsaz%20Plaj%C4%B1!5e0!3m2!1str!2str!4v1750256364687!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="kursunlu_kadinlar">
        <img
          src="/images/beaches/gemlik/kurşunlu_kadınlar.jpg"
          alt="Kurşunlu Kadınlar Plajı"
        />
        <div class="text">
          <p>
            Gemlik ilçe merkezine 17 kilometre Bursa’ya ise 40 kilometre
            uzaklıktaki Kurşunlu Kadınlar Plajı, taşlı bir yapıda. Bu yüzden
            plajda mutlaka deniz ayakkabısı kullanın. 200 metre uzunluğa sahip
            olan plaj kalabalık olduğu için erkenden gelmenizi öneririm. Plajda
            soyunma kabini, duş ve tuvalet bulunuyor. Sadece kadınlar tarafından
            kullanılan plaja 9 yaşından büyük erkek çocukların girmesi yasak.
            Giriş ve Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li>
              <b>Plajda şezlong ve şemsiye kiralama imkanı bulunmuyor.</b>
            </li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3040.1356317553596!2d29.02026467484302!3d40.361516858999806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca69486cb1b4d1%3A0x18c29798e05adb56!2zS3VyxZ91bmx1IEthZMSxbmxhciBQbGFqxLE!5e0!3m2!1str!2str!4v1750256395947!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="kücükkumla">
        <img src="/images/beaches/gemlik/küçükkumla.jpg" alt="Küçük Kumla" />
        <div class="text">
          <p>
            Büyükkumla Halk Plajı’nın hemen yanında yer alan Küçükkumla Halk
            Plajı, Gemlik’in en düzenli plajlarından birisi. Kumlardan oluşan
            sahili ve temiz denizi ile yöre halkının ilgisini çekiyor. Denizi
            sığ olduğu için acemi yüzücüler ve çocuklu aileler tarafından tercih
            ediliyor. Gün batımı manzarasıyla sahilde güzel bir akşam yürüyüşü
            yapabilirsiniz. Giriş ve Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li>
              <b>Plajda şezlong ve şemsiye kiralama imkanı bulunmuyor.</b>
            </li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12140.199481741993!2d29.082020845461308!3d40.474161715820365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca5dd35450fed1%3A0x4de322414b19801a!2zS8O8w6fDvGsgS3VtbGEgU2FoaWxp!5e0!3m2!1str!2str!4v1750256452827!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="narli">
        <img src="/images/beaches/gemlik/narlı.jpg" alt="Narlı" />
        <div class="text">
          <p>
            Narlı Halk Plajı, Gemlik’in Narlı Mahallesi’nde yer alıyor. Plajı ve
            deniz tabanı kumdan oluşan bu güzel yer küçük olsa da denizi çok
            temiz. Doğa ile baş başa sakin bir tatil yapmak isteyenler tercih
            edebilir. Şirin bir deniz kenarı köyü olan Narlı’dan aktif bir gece
            hayatı beklemeyin. Giriş ve Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li>
              <b>Plajda şezlong ve şemsiye kiralama imkanı bulunmuyor.</b>
            </li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3076.0652571756877!2d26.668419074794198!3d39.55813610745033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b091ce0bafad11%3A0x2e1306986f169b69!2zTmFybMSxIEhhbGsgUGxhasSx!5e0!3m2!1str!2str!4v1750256484557!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </body>
</html>
