<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>İznik</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/iznik.css" />
  </head>
  <body>
    <%- include("../partials/header", { headerClass:"alps", activePage:"iznik",
    showTitle:true }) %>
    <div class="pictures">
      <div class="darka">
        <img src="/images/beaches/iznik/darka.jpg" alt="Darka" />
        <div class="text">
          <p>
            İznik Gölü’nün en bakımlı sahillerinden birisi olan Darka Tatil Köyü
            Plajı, İznik ilçe merkezine 3 kilometre uzaklıkta bulunuyor. Kalın
            kum ve çakıl karışımı bir sahile sahip olan plajda deniz sığ bir
            yapıda. Plaj yeşil ile mavinin bir arada olduğu çok güzel bir yer.
            Plajda kano, yelken, sörf ve deniz bisikleti gibi su sporlarını
            yapabilirsiniz.
          </p>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.927301628323!2d29.70399377484603!3d40.41046125602261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb0a255b1fe983%3A0xb5f418461eae661f!2zRGFya2EgVGF0aWwgS8O2ecO8IFRvcGx1IFlhcMSx!5e0!3m2!1str!2str!4v1750256611845!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="golluce">
        <img src="/images/beaches/iznik/göllüce.jpg" alt="Göllüce" />
        <div class="text">
          <p>
            Göllüce Halk Plajı, İznik-Gemlik yolu ve İznik Gölü arasında yer
            alıyor. Şehir merkezine uzak olduğu için sakin olan plaj, 4 metre
            genişliğe sahip. Kalın kumla karışık çakıldan oluşan sahil
            yeşilliklerin içinde bulunuyor. Plajda tesis yer almadığından
            eşyalarınızı yanınıza alın. Giriş ve Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li>
              <b>Plajda şezlong ve şemsiye kiralama imkanı bulunmuyor.</b>
            </li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12150.268789830308!2d29.344852445406463!3d40.418437779501474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca546e8ea70fc1%3A0x33ded6a41acb80cd!2zR8O2bHlha2EgSGFsayBQbGFqxLE!5e0!3m2!1str!2str!4v1750256649395!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="gunbatimi">
        <img src="/images/beaches/iznik/günbatımı.jpg" alt="Günbatımı" />
        <div class="text">
          <p>
            İznik’in merkezinde yer alan Gün Batımı Plajı, Dırazali
            Mahallesi’nde bulunuyor. Plaj ismini göldeki gün batımını
            manzarasının güzelliğinden almış. Gün Batımı Plajı, 20 metre
            genişliğe ve 200 metre uzunluğa sahip. Kalın kum ve çakıldan oluşan
            plajda deniz sığ bir yapıda. Bu yüzden çocuklu aileler tercih
            edebilir. Denize girilen kısım çakıllı olduğu için deniz ayakkabısı
            kullanmanızı öneririm. Plajda deniz bisikleti ve kayıklar da
            bulunuyor. Giriş ve Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li>
              <b>Plajda şezlong ve şemsiye kiralama imkanı bulunmuyor.</b>
            </li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.2068132823047!2d29.70721642729141!3d40.42641919999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb0bcf08805001%3A0x893eabec3d50175!2zR8O8biBCYXTEsW3EsSBCw7xmZQ!5e0!3m2!1str!2str!4v1750256752485!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="halk">
        <img src="/images/beaches/iznik/iznik_halk.jpg" alt="İznik Halk" />
        <div class="text">
          <p>
            İznik Gölü’ne girmek için sıklıkla kullanılan bir plaj olan İznik
            Halk Plajı, İznik’in merkezinde Senato Sarayı kalıntılarının
            bulunduğu kısımda yer alıyor. Plajın çevresinde İznik İskelesi,
            balıkçı kayıkları, yeşil alanlar ve kafeler bulunuyor. Kumla karışık
            çakıldan oluşan plajın genişliği 10-15 metre arasında değişiklik
            gösteriyor. Çocuklu ailelerin tercih ettiği plajda çocuk oyun
            alanları da bulunuyor. Yaz sezonu dışında da aktif olarak kullanılan
            plajda İznik Gölü’nün müthiş manzarasının keyfini çıkarabilirsiniz.
            Giriş ve Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24297.641899863353!2d29.68919169917591!3d40.426454096328676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb0bcf0f2cb221%3A0x34e38f293534e39c!2sPlaj!5e0!3m2!1str!2str!4v1750256790627!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </body>
</html>
