<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mudanya</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/karacabey.css" />
  </head>
  <body>
    <%- include("../partials/header", { headerClass:"alps",
    activePage:"karacabey", showTitle:true }) %>
    <div class="pictures">
      <div class="kursunlu">
        <img src="/images/beaches/karacabey/kurşunlu.jpg" alt="Kurşunlu" />
        <div class="text">
          <p>
            Kurşunlu Halk Plajı, Karacabey ilçe merkezine 40 kilometre uzaklıkta
            bulunuyor. Kumu ve denizi temiz olan plaj gayet sakin. Deniz sığ
            olduğu için çocuklu aileler ve iyi derecede yüzme bilmeyenler için
            çok uygun. Kurşunlu Halk Plajı ailenizle birlikte huzurlu bir tatil
            yapabileceğiniz bir yer. Mavi ile yeşilin bir arada bulunduğu
            sahilde duş, tuvalet ve soyunma kabini bulunuyor. Sadece plajda pek
            fazla tesis bulunmadığı için ihtiyaç duyabileceğiniz eşyalarınızı
            mutlaka yanınıza alın. Giriş ve Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li>
              <b>Plajda şezlong ve şemsiye kiralama imkanı bulunmuyor.</b>
            </li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24320.136435753615!2d28.999049410839838!3d40.364146200000015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca69dd5a8166e9%3A0x62644b46ea9a06bd!2zS3VyxZ91bmx1IEhhbGsgUGxhasSx!5e0!3m2!1str!2str!4v1750256914341!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="malkara">
        <img src="/images/beaches/karacabey/malkara.jpg" alt="Malkara" />
        <div class="text">
          <p>
            Bursa’ya 86 kilometre, Karacabey ilçesine ise 33 kilometre uzaklıkta
            bulunan Malkara Plajı’nın etrafı longoz ormanıyla çevrili. Doğa ile
            baş başa kalabileceğiniz bu güzel plajın sahili kumlu bir yapıda.
            Deniz suyu temiz ve derin değil fakat rüzgardan dolayı biraz
            dalgalı. Plajda duş, tuvalet ve soyunma kabini bulunuyor. Etrafta
            pek tesis bulunmadığı için ihtiyaç duyacağınız eşyaları mutlaka
            yanınıza alın. Giriş ve Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li>
              <b>Plajda şezlong ve şemsiye kiralama imkanı bulunmuyor.</b>
            </li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12153.940883294592!2d28.354934045386038!3d40.398100434491106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b5ebbe954e2629%3A0xfbe4ddd41eaeb8b8!2sMalkara%20Plaj%C4%B1!5e0!3m2!1str!2str!4v1750256949733!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="yeniköy">
        <img src="/images/beaches/karacabey/yeniköy.jpg" alt="Yeniköy" />
        <div class="text">
          <p>
            Malkara Plajı’na 1.5 kilometre uzaklıkta bulunan Yeniköy Halk Plajı,
            Karacabey ilçe merkezine 31.5 kilometre mesafede yer alıyor. Sahili
            ince kumlardan oluşan plaj gayet geniş ve uzun. Dalga olmadığı zaman
            deniz sakin ve temiz. Derin bir denizi olduğu için çocuklu ailelere
            dikkatli olmalarını öneririm. Plajda tuvalet, duş ve soyunma kabini
            mevcut. Etrafı ormanla çevrili olduğu için havası çok temiz. Plaja
            yakın bir yerde güzel bir piknik alanı bulunuyor. Fakat hafta sonu
            yoğun olduğu için erken saatlerde gelmeniz iyi olacaktır. Giriş ve
            Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li>
              <b>Plajda şezlong ve şemsiye kiralama imkanı bulunmuyor.</b>
            </li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1566241.4290002482!2d23.856094393749988!3d39.9399292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b04537670c50bd%3A0x4ee85b7499d9941f!2sYenik%C3%B6y%20Halk%20Plaji!5e0!3m2!1str!2str!4v1750256977362!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </body>
</html>
