<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mudanya</title>
    <link rel="stylesheet" href="/css/mudanya.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include("../partials/header", { headerClass:"alps",
    activePage:"mudanya", showTitle:true }) %>

    <div class="pictures">
      <div class="altinkum">
        <img src="/images/beaches/mudanya/altınkum.jpg" />
        <div class="text">
          <p>
            Mudanya’nın Güzelyalı Altınkum Mahallesi’nde bulunan Burgaz Altınkum
            Halk Plajı, Bursa’ya 35 kilometre uzaklıkta yer alıyor. Hem sahili
            hem de deniz tabanı ince kumdan oluşan bu plajda deniz suyu temiz ve
            sığ. Bu sebeple çocuklu aileler ve iyi derecede yüzme bilmeyenler
            tarafından tercih ediliyor. Giriş ve Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li><b>Plajda şezlong ve şemsiye kiralayabilirsiniz.</b></li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12161.495781861675!2d28.931332545345303!3d40.35623204475775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca6c0dfc179c93%3A0xad46eccec7fe14d0!2sBurgaz%20Alt%C4%B1nkum%20Halk%20Plaj%C4%B1!5e0!3m2!1str!2str!4v1750255363164!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="coskunöz">
        <img src="/images/beaches/mudanya/coşkunöz.png" />
        <div class="text">
          <p>
            Ufak bir plaja sahip olan Coşkunöz Halk Plajı, Bursa’ya 31 kilometre
            ve Mudanya merkeze ise sadece 1 kilometre uzaklıkta bulunuyor.
            Denize girebileceğiniz gibi plajda bulunan çay bahçesinde manzara
            eşliğinde çayınızı, kahvenizi içebilirsiniz. Denizin girişi taşlık
            olduğu için deniz ayakkabısı giymenizi öneririm. Balık tutmak
            isteyenler de dalgakıranın bulunduğu kısma gidebilirler. Giriş ve
            Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li><b>Plajda şezlong ve şemsiye kiralayabilirsiniz.</b></li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.2030546754336!2d28.874274974844344!3d40.38219205774262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca6de4219a61bd%3A0x6e9cf55df49cc6c2!2zTS4gS2VtYWwgQ2_Fn2t1biDDlnogUGxhasSx!5e0!3m2!1str!2str!4v1750255696947!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="egerce">
        <img src="/images/beaches/mudanya/eğerce.jpg" />
        <div class="text">
          <p>
            Bursa merkezine 60 kilometre, Mudanya’ya ise 30 kilometre uzaklıkta
            yer alan Eğerce Plajı, Eğerce Mahallesi’nin sınırları içerisinde
            bulunuyor. Çok geniş bir sahili olan bu plajda deniz, rüzgarlı
            günlerde dalgalı olabiliyor. Denize girerken belediye tarafından
            asılmış olan uyarı tabelalarına dikkat edin. Kumsalı ve sığ denizi
            ile çocuklu aileler tarafından sıklıkla tercih edilen Eğerce
            Plajı’nda soyunma kabini ve duş imkanları bulunuyor. Giriş ve
            Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li><b>Plajda şezlong ve şemsiye kiralayabilirsiniz.</b></li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12160.027007676234!2d28.61996414535307!3d40.36437464276147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b5f51955555555%3A0x3966aa2ce432f7d0!2sEgerce%20Plaj%C4%B1!5e0!3m2!1str!2str!4v1750255755604!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="eskel">
        <img src="/images/beaches/mudanya/eşkel.jpg" />
        <div class="text">
          <p>
            Eşkel Halk Plajı Bursa’ya 60 kilometre, Mudanya’ya ise 26 kilometre
            mesafede bulunuyor. Hem sahili hem de deniz tabanı ince kumdan
            oluşuyor. Denizi temiz ve sığ olduğu için iyi derecede yüzme
            bilmeyenler ve çocuklu aileler tarafından tercih ediliyor. Gün
            batımı manzarasının çok güzel olduğu Eşkel Halk Plajı, kafa dinlemek
            isteyenler için çok uygun bir yer. Giriş ve Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li><b>Plajda şezlong ve şemsiye kiralayabilirsiniz.</b></li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.9875370158024!2d28.671493388854994!3d40.36480069999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca0bb5646804f9%3A0x8b1a322aec5dacc1!2zQnVyc2EgQsO8ecO8a8WfZWhpciBCZWxlZGl5ZXNpIEXFn2tlbCBIYWxrIFBsYWrEsQ!5e0!3m2!1str!2str!4v1750255806438!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="guzelyali">
        <img src="/images/beaches/mudanya/güzelyalı.jpg" />
        <div class="text">
          <p>
            Mudanya ilçe merkezinde yer alan Güzelyalı Burgaz Halk Plajı,
            Bursa’ya 26 kilometre uzaklıkta bulunuyor. Kumlu yapıdaki sahilinde
            yürüyüş yapabilirsiniz. Sahil boyunca yer alan kafe ve restoranlarda
            yemek yiyebilirsiniz. Sahilde dalgakıran bulunduğu için merakınız
            varsa balık tutabilirsiniz. Ayrıca İstanbul Deniz Otobüsü (İDO)
            seferleri de buradan yapılıyor. Giriş ve Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li><b>Plajda şezlong ve şemsiye kiralayabilirsiniz.</b></li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12160.747572161754!2d28.90458334534926!3d40.36038014374097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca6c364ae2c3fb%3A0xbce49ce3cd551572!2sBurgaz%20Halk%20Plaj%C4%B1!5e0!3m2!1str!2str!4v1750255842762!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="kumyaka">
        <img src="/images/beaches/mudanya/kumyaka.jpg" />
        <div class="text">
          <p>
            Kumyaka Halk Plajı Bursa’ya 36 kilometre, Mudanya ilçe merkezine ise
            7 kilometre uzaklıkta bulunuyor. Plajın kumsal olan kısmı kalabalık
            olabiliyor. Denize giriş kısmı çakıllı olduğu için deniz ayakkabısı
            kullanmanızı öneririm. Denizi hızla derinleşiyor, o yüzden dikkat
            edin lütfen. Giriş ve Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li><b>Plajda şezlong ve şemsiye kiralayabilirsiniz.</b></li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12156.14031642935!2d28.81606774537442!3d40.385915137479536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca7239b6f8c8e9%3A0x983da8f165bf3aa5!2sKumyaka%20Halk%20Plaj%C4%B1!5e0!3m2!1str!2str!4v1750255881076!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="kizilay">
        <img src="/images/beaches/mudanya/kızılay.jpg" />
        <div class="text">
          <p>
            Kızılay Mudanya Gençlik ve Sağlık Kampı, Bursa’ya 28 kilometre,
            Mudanya ilçe merkezine 8 kilometre uzaklıkta bulunuyor. Kumla
            karışık çakıllı bir sahile sahip olan plaj, yeşilliklerin arasında
            bulunuyor. Sakin ve sessiz doğayla baş başa bir tatil yapmak için
            tercih edilebilir.
          </p>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3040.37741685967!2d28.95586717484274!3d40.35615505932568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca6bf753bbc9e7%3A0xad2ec8f858f8c916!2zS8SxesSxbGF5IE11ZGFueWEgR2Vuw6dsaWsgVmUgU2HEn2zEsWsgS2FtcMSx!5e0!3m2!1str!2str!4v1750255913430!5m2!1str!2str"
            width="300"
            height="200"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>

      <div class="mesudiye">
        <img src="/images/beaches/mudanya/mesudiye.jpeg" />
        <div class="text">
          <p>
            Mesudiye Halk Plajı Bursa’ya 65 kilometre, Mudanya’ya 33 kilometre
            mesafede bulunuyor. Geniş ve güzel bir kumsalı olan plajda deniz
            yavaş derinleşiyor. Plaj rüzgarlı olduğu için deniz dalgalı. Plajda
            herhangi bir tesis bulunmadığı için ihtiyacınız olan eşyaları
            mutlaka yanınıza alın. Sakin bir yer olan Mesudiye Halk Plajı’nda
            kamp yapabilirsiniz. Giriş ve Şezlong Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li><b>Plajda şezlong ve şemsiye kiralayabilirsiniz.</b></li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12158.648435344743!2d28.576246245360636!3d40.37201594088806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b5f498bbd5355b%3A0xfad2c96cdb36f893!2sMesudiye%20Halk%20Plaj%C4%B1!5e0!3m2!1str!2str!4v1750255970648!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="zeytinbagi">
        <img src="/images/beaches/mudanya/zeytinbağı.jpg" />
        <div class="text">
          <p>
            Tirilye Limanı yakınında bulunan Zeytinbağı Halk Plajı Mudanya’ya 12
            kilometre, Bursa’ya ise 41 kilometre uzaklıkta yer alıyor. Deniz ve
            sahil taşlık olduğu için mutlaka deniz ayakkabısı kullanın. Yöre
            halkının mangal yakıp denize girmek için gittiği bir yer. O yüzden
            hafta sonlarında çok kalabalık olabiliyor. Giriş ve Şezlong
            Ücretleri:
          </p>
          <ul>
            <li><b>Plaja giriş ücretsiz.</b></li>
            <li><b>Plajda şezlong ve şemsiye kiralayabilirsiniz.</b></li>
          </ul>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12155.19366713848!2d28.793006045379524!3d40.391160136193434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca73c844b46427%3A0xd37d924b85a45e7f!2zWmV5dGluYmHEn8SxIEhhbGsgUGxhasSx!5e0!3m2!1str!2str!4v1750256064482!5m2!1str!2str"
            width="300"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </body>
</html>
